/* BASE COLORS */
$text-color: #d9d9e3;
$text-code: white;
$dark-background: #343541;

$white: white;

$secondary_purple: #494568;
$alert_red: #d5573b;
$action_yellow: #fbd65e;
$primary_purple: #262240;
$action_green: #23bd7c;

/* SETTINGS */
$trs: 0.2s;
