/* BASE COLORS */
$text-color: #d9d9e3;
$text-code: white;

$dark-background: #343541;
$black-background: #000000;

$grey: #9a9aa0;
$very-dark-grey: #202123;

$white: white;

$action_green: #23bd7c;
$alert_red: #d5573b;
$secondary_purple: #494568;
$action_yellow: #fbd65e;
$primary_purple: #262240;
$action_blue: #5c5cf5;



/* SETTINGS */
$trs: 0.2s;
