<mat-drawer-container autosize class="container-fluid bg-transparent" (window:resize)="handleResize($event)">
  <mat-drawer #drawer class="chat-list-drawer flex-column" mode="side" [opened]="isChatsListOpened()">
    <app-chats-list [isShowCloseBtn]="isShowChatsListBtn()" (closeChatsList)="handleToggleChatsList(false)">
    </app-chats-list>
  </mat-drawer>
  <form class="container vh-100 d-flex flex-column pt-4 pb-2" [formGroup]="chatForm" (ngSubmit)="handleSend()">
    <div class="header-settings d-flex justify-content-between mb-3">
      <div class="d-flex align-items-center">
        @if (isShowChatsListBtn()) {
          <button type="button" class="me-4 icon-btn" (click)="handleToggleChatsList(true)">
            <mat-icon class="d-flex" svgIcon="navbar"></mat-icon>
          </button>
        }
        @if ((models | async) && modelChatId) {
          <app-model-select
            [(modelFormControl)]="$any(chatForm).controls['model']"
            [models]="models | async"
            [selectedModelId]="modelChatId | async"
          ></app-model-select>
        }
        <mat-icon class="ms-2" [htmlTooltipIsListenClick]="true" [htmlTooltip]="modelHelpText">info</mat-icon>
      </div>

      <div class="header-settings__controls d-flex align-items-center justify-content-sm-between">
        <app-settings-btn></app-settings-btn>
      </div>
    </div>

    <div class="h-75 d-inline-block border ps-3 pe-3 overflow-auto">
      <app-messages [messages]="messages()"></app-messages>
    </div>

    <div class="tokens-counter mt-2 mb-3">
      <span class="tokens-counter__value" matTooltip="Total tokens (completion_tokens + prompt_tokens)">{{
        totalTokens() || ''
      }}</span>
    </div>

    <div class="row h-25 d-flex justify-content-center">
      <mat-form-field class="main-form w-100 h-100">
        <textarea
          class="w-100 h-100 example-full-width"
          placeholder="Question"
          formControlName="question"
          [cdkTextareaAutosize]="true"
          matInput
        ></textarea>
      </mat-form-field>
    </div>
    <button
      type="submit"
      class="col-1 ms-auto"
      mat-raised-button
      color="primary"
      [disabled]="(isLoading() || !chatForm.value.question) && !(isSomeMessageUpdated$ | async)"
    >
      @if (isLoading()) {
        <mat-spinner [diameter]="25"></mat-spinner>
      } @else {
        <span>Send</span>
      }
    </button>
  </form>
</mat-drawer-container>
