@import 'core/variables';

:host {
  display: flex;
  height: 100%;
  background-color: $black-background;

  .chats {
    &__list {
      marker: none;

      &--element {
        height: 2.3rem;

        input {
          padding-left: 0.5rem;;
          background: $black-background;
          color: $text-color;
          border-color: $action_blue;
          max-height: 1.5rem;
          font-size: 0.875rem;

          &:focus {
            outline: none;
          }
        }
      }
    }
  }
}


