<div class="chats container d-flex flex-column pt-4 pb4 ps-2 overflow-auto">
  @if (isShowCloseBtn) {
    <button class="icon-btn light ms-auto">
      <mat-icon (click)="this.closeChatsList.emit()">close</mat-icon>
    </button>
  }

  <button [routerLink]="['/', 'chat']" class="list-btn list-btn-main row-cols-12">
    <mat-icon class="list-btn__main-icon" svgIcon="chat-gpt"></mat-icon>
    <span class="list-btn__title">New chat</span>
    <mat-icon class="list-btn__additional-icon" svgIcon="edit"></mat-icon>
  </button>

  <nav class="mt-4">
    <ul class="chats__list">
      @for (chat of chatsList$ | async; track chatsList$) {
        @if (chat.id !== 'new') {
          <li class="chats__list--element d-flex align-items-center">
            @if (chat.isEditableName) {
              <input
                class="w-100"
                appBackdrop
                appAutoFocus
                [backdropDelay]="100"
                (clickOutside)="handleCloseEditNameMode()"
                [(ngModel)]="editedNewName"
              />
            } @else {
              <a [routerLink]="['/', 'chat', chat.id]" class="list-btn w-100 justify-content-between">
                <span class="list-btn__title">{{ chat.name }}</span>
                <div class="chats__list--buttons d-flex" (click)="$event.stopPropagation()">
                  <button
                    [matMenuTriggerFor]="menu"
                    (click)="$event.preventDefault(); setEditedChatData(chat.id, chat.name)"
                  >
                    <mat-icon class="list-btn__additional-icon">more_horiz</mat-icon>
                  </button>
                </div>
              </a>
            }
          </li>
        }
      }
    </ul>
  </nav>
</div>
<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="handleRenameChat()">Rename</button>
  <button mat-menu-item class="text-danger" (click)="handleDeleteChat()">Delete chat</button>
</mat-menu>
