<div class="chats container d-flex flex-column pt-4 pb4 ps-2">
  @if (isShowCloseBtn) {
    <button class="icon-btn light ms-auto">
      <mat-icon (click)="this.closeChatsList.emit()">close</mat-icon>
    </button>
  }

  <button class="list-btn list-btn-main row-cols-12">
    <mat-icon class="list-btn__main-icon" svgIcon="chat-gpt"></mat-icon>
    <span class="list-btn__title">New chat</span>
    <mat-icon class="list-btn__additional-icon" svgIcon="edit"></mat-icon>
  </button>

  <nav class="mt-4">
    <ul class="chats__list">
      @for (chat of chatsList(); track chatsList()) {
        <li class="list-btn d-flex justify-content-between">
          <div>
            <a href=""> {{ chat.name }}</a>
          </div>
          <div class="chats__list--buttons d-flex">
            <button><mat-icon class="list-btn__additional-icon">more_horiz</mat-icon></button>
          </div>
        </li>
      }
    </ul>
  </nav>
</div>
