<div class="chats container d-flex flex-column pt-4 pb4 ps-2 overflow-auto">
  @if (isShowCloseBtn) {
    <button class="icon-btn light ms-auto">
      <mat-icon (click)="this.closeChatsList.emit()">close</mat-icon>
    </button>
  }

  <button [routerLink]="['/', 'chat']" class="list-btn list-btn-main row-cols-12">
    <mat-icon class="list-btn__main-icon" svgIcon="chat-gpt"></mat-icon>
    <span class="list-btn__title">New chat</span>
    <mat-icon class="list-btn__additional-icon" svgIcon="edit"></mat-icon>
  </button>

  <nav class="mt-4">
    <ul class="chats__list">
      @for (chat of chatsList$ | async; track chatsList$) {
        @if (chat.id !== 'new') {
          <li class="chats__list--element d-flex align-items-center">
            @if (chat.isEditableName) {
              <app-editable-field-input
                [prevEditedText]="chat.name"
                [entityId]="chat.id"
                (onTextChanged)="handleCloseEditNameMode($event)"
              ></app-editable-field-input>
            } @else {
              <a
                [routerLink]="['/', 'chat', chat.id]"
                routerLinkActive="active"
                class="list-btn w-100 justify-content-between"
              >
                <span class="list-btn__title">{{ chat.name }}</span>
                <div class="chats__list--buttons d-flex" (click)="$event.stopPropagation()">
                  <button
                    [matMenuTriggerFor]="menu"
                    [matMenuTriggerData]="{chatId: chat.id}"
                    (click)="$event.preventDefault()"
                  >
                    <mat-icon class="list-btn__additional-icon">more_horiz</mat-icon>
                  </button>
                </div>
              </a>
            }
          </li>
        }
      }
    </ul>
  </nav>
</div>
<mat-menu #menu="matMenu">
  <ng-template matMenuContent let-id="chatId">
    <button mat-menu-item (click)="handleRenameChat(id)">Rename</button>
    <button mat-menu-item class="text-danger" (click)="handleDeleteChat(id)">Delete chat</button>
  </ng-template>
</mat-menu>
