<mat-drawer-container autosize>
  <router-outlet></router-outlet>
  <mat-drawer
    #drawer
    [opened]="isSettingsMenuOpened()"
    class="settings-menu h-100 d-flex flex-column col-12 col-md-6 col-lg-5 col-xl-4 p-4"
    mode="side"
    [position]="'end'"
  >
    <div class="settings-menu__head justify-content-sm-between d-flex">
      <button class="ms-auto">
        <mat-icon (click)="handleCloseSettingsMenu()">close</mat-icon>
      </button>
    </div>
    <form
      class="settings-form w-100 mt-3 d-flex flex-column"
      [formGroup]="settingsForm"
      (ngSubmit)="handleSaveSettings()"
    >
      <mat-form-field class="w-100" (click)="handleEnableInput()">
        <mat-label>API KEY</mat-label>
        <input
          #keyInputRef
          matInput
          formControlName="key"
          type="password"
          name="key"
          id="key"
          [autocomplete]="'autocompleteValue'"
          [readonly]="isKeyFieldReadOnly"
          (input)="handleKeyInput()"
        />
        @if (settingsForm.controls['key'].hasError('required')) {
          <mat-error><a href="https://platform.openai.com/api-keys" target="_blank">Get or create a key</a></mat-error>
        }
      </mat-form-field>
      <div class="settings-form__controls d-flex justify-content-end">
        <button
          class="me-2"
          type="submit"
          mat-raised-button
          color="primary"
          [disabled]="isLoading() || !settingsForm.touched || !settingsForm.value.key"
        >
          Save
        </button>
        <button
          type="submit"
          mat-raised-button
          color="primary"
          [disabled]="isLoading() || !currentKey()"
          (click)="handleDeleteKey()"
        >
          Delete
        </button>
      </div>
    </form>
    <h5 class="mt-3">Advanced settings</h5>
  </mat-drawer>
</mat-drawer-container>
