@for (message of messages; track messages) {
  <div #messageRef class="message-wrapper d-flex">
    <div class="d-flex">
      <div
        class="message__owner--icon d-flex justify-content-center align-items-center me-2"
        [class.user]="message.role === ROLE.user"
      >
        @if (message.role === ROLE.user) {
          <mat-icon class="d-flex" svgIcon="user"></mat-icon>
        } @else {
          <mat-icon class="d-flex" svgIcon="chat-gpt"></mat-icon>
        }
      </div>
    </div>
    <div class="message pb-4">
      <span class="message__owner d-flex text-white fw-bold text-capitalize">{{ message.role }}</span>
      <div class="message__body" [innerHTML]="message.content | safeMarked"></div>
    </div>
  </div>
}
