@for (message of messages; track messages; let idx = $index) {
  <div
    #messageRef
    class="list-btn message-wrapper d-flex position-relative"
    [class.active]="idx === highlightedMessageIdx"
  >
    <div class="d-flex">
      <div
        class="message__owner--icon d-flex justify-content-center align-items-center me-2"
        [class.user]="message.role === ROLE.user"
      >
        @if (message.role === ROLE.user) {
          <mat-icon class="d-flex" svgIcon="user"></mat-icon>
        } @else {
          <mat-icon class="d-flex" svgIcon="chat-gpt"></mat-icon>
        }
      </div>
    </div>
    <div class="message pb-4">
      <span class="message__owner d-flex text-white fw-bold text-capitalize">{{ message.role }}</span>
      @if (message.isEditable) {
        <app-editable-field-input
          [isTextArea]="true"
          [prevEditedText]="message.content"
          [entityId]="message.id"
          (onTextChanged)="handleCloseEditNameMode($event)"
        ></app-editable-field-input>
      } @else {
        <div class="message-body-wrapper">
          <span class="message__tokens list-btn__additional-info" matTooltip="Cost tokens (completion_tokens)">{{
            message.completion_tokens || ''
          }}</span>
        </div>
        @if (isContainCode(message.content)) {
          <div highlight-js mode="default">
            <div class="message__body" [innerHTML]="message.content | safeMarked"></div>
          </div>
        } @else {
          <div class="message__body" [innerHTML]="message.content | safeMarked"></div>
        }
      }
    </div>
    @if (message.isChanged && !message.isEditable) {
      <mat-icon class="message-status-icon" matTooltip="Changed">new_releases</mat-icon>
    }

    <button
      type="button"
      [matMenuTriggerFor]="menu"
      [matMenuTriggerData]="{messageId: message.id}"
      (menuOpened)="handleHighlightMessage(idx)"
      (menuClosed)="cancelHighlightMessage()"
    >
      <mat-icon class="list-btn__additional-icon">more_horiz</mat-icon>
    </button>
  </div>
}

<mat-menu #menu="matMenu">
  <ng-template matMenuContent let-id="messageId">
    <button mat-menu-item (click)="handleEditMessage(id)">Edit</button>
    <button mat-menu-item (click)="handleDeleteMessage(id)" class="text-danger">Delete message</button>
  </ng-template>
</mat-menu>
