<form class="d-flex flex-column" [formGroup]="newModelFormGroup" (ngSubmit)="handleSubmitNewModel()">
  <mat-form-field>
    <mat-label>Name</mat-label>
    <input formControlName="name" placeholder="Custom name" matInput />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Model</mat-label>
    <input formControlName="model" placeholder="gpt-*-****-preview" matInput />
  </mat-form-field>

  <button
    type="submit"
    class="col-1 ms-auto"
    mat-raised-button
    color="primary"
    [disabled]="!this.newModelFormGroup.valid"
  >
    <span>Add</span>
  </button>
</form>
