/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: SÃ¶hne,ui-sans-serif,system-ui,-apple-system,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif,Helvetica Neue,Arial,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji; }


*,
*::before,
*::after {
  box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

ul[class],
ol[class] {
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

button, input[type="submit"], input[type="reset"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

body,
.mdc-text-field--filled:not(.mdc-text-field--disabled),
.mat-mdc-form-field-focus-overlay {
  background: #343541 !important;
}

body {
  .mdc-text-field--filled:not(.mdc-text-field--disabled) {
    border: 1px solid rgba(217,217,227,.2);
    border-radius: 16px;
  }

  .mat-mdc-select,
  .mat-mdc-option,
  .mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-floating-label, .mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-floating-label--float-above,
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  li,
  .mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-text-field__input {
    color: white;
  }

  .mat-mdc-option.mdc-list-item--selected:not(.mdc-list-item--disabled):not(.mat-mdc-option-multiple),
  .mat-mdc-option:hover:not(.mdc-list-item--disabled) {
    background-color: hsla(0,0%,100%,.05);
  }

  button {
    mat-icon {
      color: #9a9aa0;
    }

    &:hover {
      mat-icon {
        color: rgba(217,217,227,.2);
      }
    }
  }

  .mat-mdc-option.mdc-list-item {
    margin: 5px;
    border-radius: 5px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  div.mat-mdc-select-panel {
    background-color: #202123;
  }

  ::placeholder {
    color: #9a9aa0 !important;
  }

  .mat-mdc-form-field-flex, .mat-mdc-form-field-infix {
    height: 100%;
  }

  //scroll
  ::-webkit-scrollbar {
    height: 1rem;
    width: 0.5rem;
  }

  ::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 9999px;
  }

  ::-webkit-scrollbar-thumb:hover {
    --tw-bg-opacity: 1;
    background-color: rgba(217,217,227,.25);
  }

  ::-webkit-scrollbar-thumb {
    background-color: hsla(0,0%,100%,.1);
  }

  ::-webkit-scrollbar-thumb {
    --tw-border-opacity: 1;
    border-color: rgba(255,255,255,1);
    border-radius: 9999px;
    border-width: 1px;
  }
}


